.citacao{
	background-color: #D9E5E3;
	padding: 1rem;
	border: 0.5rem solid #C2CCCA;
	margin: 1rem 2rem;
	width: 30ch;
	box-sizing: border-box;
}

.fiat{
	float: right;
}

.petobras{
	float: left;
}

cite{
	font-style: italic;
	float: right;
}