article{
	padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: 1rem;
}

.leia-mais{
	font-size: 120%;
	margin: 1rem;
	padding: 0.4rem;
	width: 45rem;
	display: block;
	text-align: center;
	background-color: #E6E7E8;
}