.portifolio li{
	display: inline-block;
	border: 0.5rem solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.portifolio img {
    width: 100%;
}